# Compilados
target/
build/
out/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs

## IntelliJ
.idea/
*.iml

## Eclipse
.project
.classpath
.settings/

## VS Code
.vscode/

# Dependencias
node_modules/

# Archivos generados por Spring Boot
*.jar
*.war
*.ear

# Configuración sensible
application.properties
application.yml
application-*.yml
application-*.properties

# Archivos de entorno
.env

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# Test outputs
coverage/
